<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name=description content="description">
    <meta name=keywords content="Sebook Área de Administradores">
    <meta name=author content='Diva Cruz'>
    <meta name=sebookAdm content='área restrita aos Administradores do sistema'>

    <script src="https://code.jquery.com/jquery-3.4.0.slim.min.js"></script>

	<link rel="stylesheet" href="css/swiper.css">
	<link rel="stylesheet" href="../css/Admin2.css">

  <title>Sebook</title>
</head>

<body class="">
	<header>
		<div class="menuGroup">
			<a class="logo" href="indexM.html">
				<img src="../images/img/logoSebookCor.png" alt="SebooK">
			</a>
			<a class="perfil" href="login.html">
				<img src="../images/icons/Logado.png" alt="Perfil" title="Perfil">
			</a>
		</div>
		<nav class="navDesk">
			<ul>
                                    <li><a href="#">ACESSOS NÍVEL 2</a></li>
                                    <li><a href="#">ACESSOS NÍVEL 1</a></li>
                                    <li><a href="AprovarISBN.html">APROVAR CADASTROS SEM ISBN</a></li>                            
                                    <li><a href="Banir.html">BANIR USUARIOS</a></li>
            </ul>    
        </nav>
        </header>    
                                

  
    </body>
    </html>