.controle {
    width: 100%;
    position: relative;
    padding: 1rem;
    margin: auto;
    box-sizing: border-box;
    max-width: 460px;
    align-self: center;
    top: 10px
}

.controle .container h1 {
    font-size: 30px;
    text-align: center;
    background-color: none
}

.controle .container p {
    margin: .5rem 0;
    font-size: .95rem;
    text-align: center;
    line-height: 1.3rem
}

.controle .container hr {
    margin-bottom: 25px
}

.controle .container form input {
    width: 100%;
    height: 30px;
    margin-bottom: 15px
}

.controle .container form .tex {
    height: 70px
}

.controle .container form button {
    width: 35%;
    margin: 0 auto;
    margin: 1rem 0;
    padding: .6rem;
    border: 1px solid #ccc;
    background: #fff
}

@media (max-width: 780px) {
    .headerAjuda {
        position: inherit!important
    }
}