@import './slick.css';

body {
    padding: 0;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: sans-serif;
    margin: auto;
    overflow: hidden;
}

.containerScroll{
    height:100vh;
    overflow-y:scroll
}

div#containerTemplate::before {
    content: "";
    display: block;
    position: relative;
    min-height:2rem
}
@media (max-width:779.99px){
    div#containerTemplate::before{
        min-height: 90px
    }
}

div#containerTemplate {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 4%;
    box-sizing: border-box;
    min-height:500px
 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}


/*===================AREA DO ACERVO SEBO====================*/

.acervo-sebo .container .topo-acervo {
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    margin: 20px 0;
    background-color: #f1f1f1
}

.acervo-sebo .container .topo-acervo .img-topo-acervo {
    width: 100%;
    height: 140px;
    overflow: hidden;
    padding: 10px
}

.acervo-sebo .container .topo-acervo .img-topo-acervo img {
    height: 100%;
    width: 100%
}

.acervo-sebo .container .acervo h2 {
    text-align: center
}

.acervo-sebo .container .acervo .estante-slider {
    width: 100%;
    margin-bottom: 20px
}

.acervo-sebo .container .acervo .estante-slider .titulo-estante-slider {
    margin-bottom: 10px
}


/*===================AREA DO AJUDA====================*/

.ajuda {
    width: 100%;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    max-width: 460px;
    align-self: center
}

.ajuda .container h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 25px
}

.ajuda .container p {
    margin: .5rem 0;
    font-size: .95rem;
    text-align: center;
    line-height: 1.3rem
}

.ajuda .container hr {
    margin-bottom: 25px
}

.ajuda .container form input {
    width: 100%;
    height: 30px;
    margin-bottom: 15px
}

.ajuda .container form .tex {
    height: 70px
}

.ajuda .container form button {
    width: 35%;
    margin: 0 auto;
    margin: 1rem 0;
    padding: .6rem;
    border: 1px solid #ccc;
    background: #fff
}


/*===================AREA DO BUSCA====================*/

.busca {
    box-sizing: border-box;
    padding: 1 !important;
    height: 100vh
}

.busca .container {
    margin: auto;
    max-width: 400px
}

.busca .box-search {
    width: 80%;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 10px;
    margin: 0 auto;
    margin-bottom: 20px
}

.busca .box-search a.search {
    width: 20px;
    height: 20px;
    display: block;
    margin: 8px 0 0 0
}

.busca .box-search a.search img {
    width: 100%
}

.busca .box-search input {
    width: 100%;
    height: 35px;
    border: 1px solid #999;
    padding: 0 0 0 5px
}

.busca .searchBooks {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px
}

.busca .searchBooks a {
    display: block;
    width: 100%;
    height: 180px
}

.busca .searchBooks a img {
    width: 100%
}


/*===================AREA DO CADASTRO====================*/

.cadastro {
    padding: 2rem 0;
    width: 100%;
    max-width: 400px;
    margin: auto;
    box-sizing: border-box
}

.cadastro .container figure {
    margin: 0 auto;
    display:flex;
    width: 208px
}

.cadastro .container img {
    width: 40px
}

.cadastro .container figure figcaption {
    float: left;
    font-size: 25px;
    margin-top: 14px;
    margin-left: 10px
}

.cadastro .container p {
    float: left;
    width: 100%;
    text-align: center;
    height: 20px;
    position: relative;
    margin: 1rem 0
}

.cadastro .container p:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    left: 0;
    top: 10px
}

.cadastro .container p span {
    position: absolute;
    z-index: 1;
    width: 250px;
    left: 50%;
    margin-left: -125px
}

.cadastro .container p:after {
    content: '';
    width: 250px;
    height: 20px;
    background: #fff;
    position: absolute;
    z-index: 0;
    left: 50%;
    margin-left: -125px
}

.cadastro .container form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column
}

.cadastro .container form label,
.cadastro .container form input {
    width: 100%;
    float: left
}

.cadastro .container form label {
    margin-bottom: 5px
}

.cadastro .container form label[for=feminino],
.cadastro .container form label[for=masculino] {
    width: auto;
    margin-right: 10px;
    margin-bottom: 15px
}

.cadastro .container form input[type=radio] {
    width: auto
}

.cadastro .container form input[type=text],
.cadastro .container form input[type=password] {
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #999
}

.cadastro .container form button {
    width: 35%;
    margin: 0 auto;
    margin: 1rem 0;
    padding: .6rem;
    border: 1px solid #ccc;
    background: #fff
}

.cadastro .container form .password2 {
    margin-bottom: 20px !important
}

.cadastro .container form hr {
    margin: 25px 0
}


/*===================AREA DO CARROUSEL====================*/

.swiper-container {
    width: 100%;
    height: 100%
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}


/*===================AREA DO DESCRIÇÃO LIVRO====================*/

.livros .container .box-descricao-livro {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 10px;
    margin: 20px 0
}

.livros .container .box-descricao-livro img {
    width: 100%
}

.livros .container .box-descricao-livro .descricaoLivro h1 {
    margin: 0;
    font-size: 20px
}

.livros .container .sinopse {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f1f1f1
}

.livros .container .sinopse .comentario {
    width: 100%;
    background-color: #86c3cb;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px
}

.livros .container .sinopse .comentario:first-child {
    margin-top: 0
}

.livros .container .sinopse .comentario .person {
    width: 100%;
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-gap: 10px
}

.livros .container .sinopse .comentario .person .descricao-person strong {
    margin-bottom: 5px;
    display: block
}

.livros textarea {
    height: 100px;
    margin: 0;
    width: 100%;
    resize: none
}

.livros .btn {
    background: none;
    border: 2px solid black;
    width: 50%
}

.livros .btn:hover {
    background-color: #86c3cb;
    border: 2px solid gray;
    transition: -1s
}

.livros .acervo {
    padding: 0 30px
}

.livros #Mapa iframe {
    width: 100%;
    height: 400px
}

.livros .Cont {
    padding: 0
}


/*===================AREA DO EVENTOS====================*/

.eventos .container {
    background: #f1f1f1;
    margin-top: 20px;
    padding: 20px
}

.eventos .container h1 {
    font-size: 25px;
    text-align: center;
    margin: 0
}

.eventos .container figure {
    width: 100%;
    height: 250px;
    margin: 20px 0 20px 0
}

.eventos .container figure .img-eventos {
    width: 100%;
    height: 240px;
    overflow: hidden
}

.eventos .container figure .img-eventos img {
    height: 100%
}

.eventos .container figure figcaption {
    font-weight: bold;
    margin-top: 5px
}

.eventos .container hr {
    margin: 25px 0 30px 0
}


/*===================AREA DO LIVRO====================*/

.pagLivro {
    padding: 10% 0
}

.pagLivro .box-search {
    width: 80%;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 10px;
    margin: 0 auto;
    margin-bottom: 20px
}

.pagLivro .box-search a.search {
    width: 20px;
    height: 20px;
    display: block;
    margin: 8px 0 0 0
}

.pagLivro .box-search a.search img {
    width: 100%
}

.pagLivro .box-search input {
    width: 100%;
    height: 35px;
    border: 1px solid #999;
    padding: 0 0 0 5px
}

.pagLivro .estante-slider {
    width: 100%;
    margin-bottom: 20px
}

.pagLivro .estante-slider .titulo-estante-slider {
    margin-bottom: 10px
}


/*===================AREA DO LO(?) DESCRIÇÃO LIVRO====================*/


/*===================AREA DO LOGIN====================*/

.containerLogin {
    padding: 1rem;
    width:100%;
    align-self:center;
    margin: 0 auto 
}

.loginSpace{
    width:100%
}

.containerLogin .login {
    background-color: #fff;
    padding: 3rem 1rem!important;
    max-width: 500px;
    margin: 2% auto 0;
    border: 1px solid #ccc;
    border-radius:.4rem; 
}

.containerLogin figure {
    margin: 0;
    text-align: center
}

.containerLogin figure img {
    max-width: 64px;
    margin: auto
}

.containerLogin figure figcaption {
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0 20px
}

.containerLogin .btn-modal-cadastre {
    width: 100%;
    text-align: center;
    display: block;
    color: blue;
    text-decoration: none;
    font-size: 14px;
    margin:5% auto
}

.containerLogin .btn-modal-cadastre:hover {
    text-decoration: underline
}

.containerLogin a {
    width: 100%;
    text-align: center;
    display: block;
    color: blue;
    text-decoration: none;
    font-size: 14px
}

.containerLogin a:hover {
    text-decoration: underline
}

.containerLogin form {
    padding: 2% 0 7%;
    max-width: 330px;
    margin: auto
}

.containerLogin form label {
    width: 100%;
    float: left;
    margin: 0 0 5px 0;
    color:#000
}

.containerLogin form input {
    width: 100%;
    display: block;
    margin: 1rem auto;
    border: 1px solid #999;
    /* height: 30px; */
    padding: .5rem;
    outline:none;
    font-size:16px
}

.containerLogin form input.button {
    background-color: #2196F3;
    border: 0;
    color: #fff;
    border-radius: 4px;
    display: block;
    width: 100%;
    max-width: 151px;
    margin: 0;
    padding:.45rem
}

.containerLogin p {
    width: 100%;
    text-align: center;
    position: relative;
    height: 20px;
    margin: 1rem 0
}

.containerLogin p span {
    padding: .2rem .5rem;
    background: #eee;
    z-index: 9999;
    position: inherit
}

.containerLogin p::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #CCC;
    left: 0;
    top: 7px
}

.containerLogin p:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #eee;
    left: 50%;
    margin-left: -20px;
    z-index: 0
}


/*===================AREA DO MODAL====================*/

.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 35px;
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none
}

.modal .btn-close:hover,
.modal .btn-close:focus {
    color: #999999
}

.modal-wrap:before {
    content: '';
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 102
}

.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block
}

.modal-open:checked ~ .modal-wrap .modal-dialog {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 40%
}

.modal-dialog {
    background: #fefefe;
    border: #555 solid 1px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -150%);
    transition: transform 0.6s ease-in-out;
    width: 80%;
    max-width: 600px;
    z-index: 103
}

.modal-body {
    padding: 50px 20px
}

.modal-body p {
    margin: 0
}

.modal-body .content-modal-cadastre {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-gap: 5px
}

.modal-body .content-modal-cadastre .btn-modal {
    border: 1px solid #05a532;
    display: block;
    padding: 8px 0;
    border-radius: 3px;
    background-color: #06cc3e;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    width: auto
}

.modal-body .content-modal-cadastre .btn-modal.blue {
    background-color: #008a9b;
    border: 1px solid #006875
}

.modal-body .content-modal-cadastre span {
    text-align: center;
    font-weight: 700;
    line-height: 36px
}

.modal-header {
    border-bottom: #eaeaea solid 1px;
    background-color: #f1f1f1;
    padding: 20px
}

.modal-header h2 {
    font-size: 16px;
    margin: 0;
    color: #555
}

.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
    padding: 10px
}

.btn {
    background: #fff;
    border: #555 solid 1px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative
}

.btn.btn-primary {
    background: #428bca;
    border-color: #3885c7;
    color: #fff
}


/*===================AREA DO PERFIL====================*/


/* O perfil.css está vazio*/


/*===================AREA DO QUEM SOMOS====================*/

.quemSomos{
    max-width: 650px;
    margin: auto;
}

.quemSomos .container h1 {
    font-size: 25px;
    text-align: center;
    margin:1rem 0 0
}

.quemSomos .container .containerText {
    border: 1px solid #ccc
}

.quemSomos .container p {
    line-height: 1.35rem;
    padding: 1rem;
    text-align: justify
}
@media (max-width:700px){
    .quemSomos .container p{
        text-align:left
    }
}

.quemSomos .container img {
    height: 250px;
    width: 100%
}


/*===================AREA DO SEBOS====================*/

.sebos{
    padding:1rem
}

.sebos .container {
    background: #5cccb3;
    padding: 15px;
    margin-top: 25px;
    width: 100%;
    height: 100%;
    max-width: 700px;
    margin: 3% auto;
    box-sizing: border-box
}

.sebos .container h1 {
    font-size: 25px;
    text-align: center;
    margin: 0 0 25px 0
}

.sebos .container form {
    width: 100%;
    height: 240px;
    border: 1px solid #111;
    background: #fff;
    padding: 10px
}

.sebos .container form label {
    width: 100%;
    font-weight: bold
}

.sebos .container form input {
    width: 100%;
    height: 35px;
    border: 1px solid #222;
    margin: 10px 0 20px 0
}

.sebos .container form select {
    width: 100%;
    height: 35px;
    border: 1px solid #222;
    margin: 10px 0 20px 0
}

.sebos .container form select option {
    width: 50px
}

.sebos .container form button {
    width: 100px;
    height: 35px;
    float: right
}

.sebos .container a {
    text-decoration: none
}

.sebos .container a .box-sebo {
    width: 100%;
    height: 80px;
    background: #fff;
    margin-top: 15px;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.sebos .container a .box-sebo strong {
    padding-left: 10px;
    line-height: 80px;
    color: #000
}

.sebos .container a .box-sebo p {
    color: red;
    line-height: 50px;
    text-align: center
}


/*===================AREA DO STYLE====================*/


/*Container pai de todos, centraliza tudo*/

img {
    width: 100%;
    object-fit: cover
}

a {
    text-decoration: none;
    color: #123
}

.container {
    margin: 1rem
}

.grid {
    display: grid;
    grid-gap: 10px
}

.grid.grid-1 {
    grid-template-columns: repeat(1, 1fr)
}

.grid.grid-2 {
    grid-template-columns: repeat(2, 1fr)
}

.grid.grid-3 {
    grid-template-columns: repeat(3, 1fr)
}

.grid.grid-4 {
    grid-template-columns: repeat(4, 1fr)
}

.grid.grid-5 {
    grid-template-columns: repeat(5, 1fr)
}

header img {
    max-width: 150px;
    object-fit: contain
}

header #Logado img {
    max-width: 130px;
    object-fit: contain
}

.ulCenter2 {
    height: 100%;
    width: 100%;
    display: flex
}

header #Logado input {
    display: none;
}

header #Logado ul {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 90px;
    left: 0;
    padding: 0;
    background: linear-gradient(45deg, #548f96, #8adce6);
    z-index: 1;
    flex-flow: column;
    margin-top: 0
}

header #Logado .ulCenter2 {
    height: 100%;
    width: 100%;
    display: flex
}

header #Logado .ulCenter2 ul li a {
    width: 100%;
    height: inherit;
    padding-left: 20px;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    padding: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #fff
}

.master1 nav .menu ul li:last-child {
    border-bottom: 0
}

.master1 #menuH:checked~.ulCenter ul {
    display: flex
}


/*Nessa parte foi removido a media query para que o layou espandisse na tela*/

.master1 header {
    width: 100%;
    height: 80px;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    z-index: 9;
    border-bottom: 1px solid #111
}


/*.master1 header .perfil {

     width: 40px;
    height: 40px;
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 20px 

  }*/

.master1 header .perfil img {
    height: 100%
}


/*.master1 header .logo {

     width: 125px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 10px; 

  }*/

.master1 header .logo img {
    width: 100%
}

.master1 nav {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background: aliceblue
}

.master1 nav:after {
    content: '';
    width: 100%;
    height: 60px;
    background: inherit;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 8;
    border-top: 1px solid #111
}

.master1 nav .home {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    z-index: 9;
    top: 20px;
    left: 20px
}

.master1 nav .home img {
    height: 100%
}

.master1 nav .search {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 23px;
    margin-left: -20px
}

.master1 nav .search img {
    height: 100%
}

.master1 nav .menu {
    float: right;
    margin-top: 20px
}

.master1 nav .menu input {
    display: none
}

.master1 nav .menu label {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    right: 20px;
    z-index: 9
}

.master1 nav .menu label img {
    height: 100%
}

.master1 .ulCenter {
    height: 100%;
    width: 100%;
    display: flex
}

.master1 nav .menu ul {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 90px;
    left: 0;
    padding: 0;
    background: linear-gradient(45deg, #548f96, #8adce6);
    z-index: 1;
    flex-flow: column;
    margin-top: 0
}

.master1 nav .menu ul li a {
    width: 100%;
    height: inherit;
    padding-left: 20px;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    padding: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #fff
}

.master1 nav .menu ul li:last-child {
    border-bottom: 0
}

.master1 #menuH:checked~.ulCenter ul {
    display: fleX
}


/*Menu mobile desaparece quando a resolução for maior que 780px*/

header,
.master1 nav {
    background: linear-gradient(45deg, #008a9b47, #06cc3e26);
    background-color: #fff;
    z-index: 9999
}

.navDesk ul {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background: #111
}

.navDesk ul li {
    list-style: none;
    /* padding: .6rem 1rem */
    padding: 1rem
}

.navDesk ul a {
    color: #fff
}

header img {
    max-width: 130px
}

header .perfil {
    max-width: 40px;
    align-self: flex-end
}

header .menuGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box
}

.navDesk {
    display: none
}

@media (max-width: 780px) {
    header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99999
    }

    .headerStatic {
        position: static
    }

    .busca .container {
        padding: 3vh
    }
}

@media (min-width:780px) {

    .master1 nav:after,
    .menuMobile,
    .menuMobile img {
        display: none
    }

    .navDesk {
        display: block
    }

    section {
        padding: 0 !important
    }
}

.master2 {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0 20px;
    line-height: 105px;
    position: static !important
}

.master2 .volta {
    width: 40px;
    height: 50px
}

.master2 .volta img {
    width: 100%
}

.master2 .logo {
    width: 125px;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 10px
}

.master2 .logo img {
    width: 100%
}

.master2Footer {
    width: 100%;
    background-color: #f1f1f1;
    padding: 1rem 0
}

.master2Footer p {
    text-align: center
}

section {
    width: 100%;
    position: relative;
    /* padding: 60px 0 0 0 */
}

section .banner {
    width: 100%;
    min-height: 184px;
    /* Move slides overflowed container */
    /* Color of bullets */
    /* Color of bullets - END */
    /* Text of slides - END */
    /* Calculate AUTOPLAY for BULLETS */
    /* Calculate AUTOPLAY for BULLETS - END */
    /* Calculate AUTOPLAY for SLIDES */
    /* Calculate AUTOPLAY for SLIDES - END */
    /* Calculate AUTOPLAY for CAPTION */
}

section .banner img {
    width: 100%;
    height: 100%
}

section .banner .image {
    width: 100%;
    height: 200px
}

section .banner .radio {
    display: none
}

section .banner .images {
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%
}

section .banner .images-inner {
    width: 500%;
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1)
}

section .banner .image-slide {
    width: 20%;
    float: left
}

section .banner .image-slide,
section .banner .fake-radio,
section .banner .radio-btn {
    transition: all 0.5s ease-out
}

section .banner .fake-radio {
    text-align: center;
    margin: -20px 0 0 0
}

section .banner #slide1:checked~.images .images-inner {
    margin-left: 0
}

section .banner #slide2:checked~.images .images-inner {
    margin-left: -100%
}

section .banner #slide3:checked~.images .images-inner {
    margin-left: -200%
}

section .banner #slide1:checked~div .fake-radio .radio-btn:nth-child(1),
section .banner #slide2:checked~div .fake-radio .radio-btn:nth-child(2),
section .banner #slide3:checked~div .fake-radio .radio-btn:nth-child(3) {
    background: #000
}

section .banner .radio-btn {
    width: 20px;
    height: 10px;
    border-radius: 20px;
    background: gray;
    display: inline-block !important;
    margin: 0 1px;
    cursor: pointer;
    border: 2px solid #FFF
}

section .banner .label {
    opacity: 0;
    position: absolute
}

@keyframes bullet {

    0%,
    33.32333333333334% {
        background: #000
    }

    33.333333333333336%,
    100% {
        background: gray
    }
}

section .banner #play1:checked~div .fake-radio .radio-btn:nth-child(1) {
    animation: bullet 12300ms infinite -1000ms
}

section .banner #play1:checked~div .fake-radio .radio-btn:nth-child(2) {
    animation: bullet 12300ms infinite 3100ms
}

section .banner #play1:checked~div .fake-radio .radio-btn:nth-child(3) {
    animation: bullet 12300ms infinite 7200ms
}

@keyframes slide {

    0%,
    25.203252032520325% {
        margin-left: 0
    }

    33.333333333333336%,
    58.53658536585366% {
        margin-left: -100%
    }

    66.66666666666667%,
    91.869918699187% {
        margin-left: -200%
    }
}

section .banner .st-slider>#play1:checked~.images .images-inner {
    animation: slide 12300ms infinite
}

@keyframes caption {

    0%,
    33.32333333333334% {
        opacity: 1
    }

    33.333333333333336%,
    100% {
        opacity: 0
    }
}

section .banner #play1:checked~.labels .label:nth-child(1) {
    animation: caption 12300ms infinite -1000ms
}

section .banner #play1:checked~.labels .label:nth-child(2) {
    animation: caption 12300ms infinite 3100ms
}

section .banner #play1:checked~.labels .label:nth-child(3) {
    animation: caption 12300ms infinite 7200ms
}

section .maisProcurados h1 {
    font-size: 20px;
    color: #665;
    margin-top: 30px;
    margin-left: 15px
}

section .maisProcurados .books {
    width: 100%;
    height: 180px
}

section .maisProcurados .books img {
    width: 100%;
    max-width: 120px
}

section .eventos {
    width: 100%
}

section .eventos h2 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 10px 0
}

section .eventos figure {
    margin: 0
}

section .eventos figure img {
    width: 100%;
    height: 200px
}

section .eventos figure figcaption {
    font-size: 15px
}

section .eventos figure:last-child {
    margin-top: 20px
}

form select {
    padding: .4rem;
    margin-bottom: .6rem;
    width: 100%
}


/*===========================================Icone laterais*/

.Social-Bar {
    position: fixed;
    right: 0;
    top: 60%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100
}
@media (min-width:420px){
    .Social-Bar{
        right:18px;
    }
}

.icon {
    color: white;
    text-decoration: none;
    padding: .5rem;
    display: flex;
    transition: all ease-in-out .5s;
    margin: .025rem 0
}

.icon-facebook {
    background: #2E406E
}

.icon-twitter {
    background: #339DC5
}

.icon-instagram {
    background: linear-gradient(45Deg, #405DE6, #5851DB, #833AB4, #C13584, #C13584, #E1306C, #FD1D1D)
}

.icon:first-child {
    border-radius: 1rem 0 0 0
}

.icon:last-child {
    border-radius: 0 0 0 1rem
}

.icon:hover {
    padding-right: 3rem;
    border-radius: .5rem 0 0 1rem;
}

/*=====================AREA DO RODAPE===============*/
#rodape {
    width: 100%;
    background: #202020;
    color: #fff;
}
#rodape .container-body a, #rodape label{
    color:#c7c7c7
}
#rodape a:hover, #rodape a:hover label{
    color:#fff
}
.container-footer-all {
    width: auto;
    max-width: 1300px;
    margin: auto;
    padding: 4rem
}
@media (max-width:700px){
.container-footer-all{
    padding: 2rem
}
#rodape p{
    text-align:left
}
}
.container-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
@media (max-width:701px){
    .container-body, .footer{
        flex-direction:column
    }
}

.coluna1,
.coluna2,
.coluna3 {
    max-width: 450px;
    margin: 1rem .5rem;
}

.coluna1 h1,
.coluna2 h1,
.coluna3 h1 {
    font-size: 22px
}

.coluna1 p {
    font-size:.95rem;
    color: #c7c7c7;
    margin-top:20px;
    text-align:justify;
    line-height:1.3rem;
    letter-spacing:-.01rem
}
.coluna3 label{
    line-height:1.4rem
}

.row,
.row2 {
    margin-top: 20px;
    display: flex;
    align-items:center
}

.row img,
.row2 img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    
}
@media(min-width:700px){
    .row2 label{
    max-width: 200px
    }
}

.container-footer {
    width: auto;
    background: #111;
}
@media (max-width:700px){
    .container-footer{
        padding: 0 0 3rem
    }
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 1rem;
    max-width:700px;
}
.footer div{
    margin:1rem 0
}

@media (min-width:900px){
    .footer{
        flex-direction:row;
        max-width:1000px
    }
}
.copyright {
    color: #c7c7c7;


}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold
}

.informar a {
    text-decoration: none;
    color: #c7c7c7
}


/**
 * Swiper 4.5.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2019 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 22, 2019
 */

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 0;
}

.swiper-container-no-flexbox .swiper-slide {
    float: left;
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
    visibility: hidden;
}


/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    -o-transition-property: transform, height;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform;
}


/* 3D Effects */

.swiper-container-3d {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}


/* IE10 Windows Phone 8 Fixes */

.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal>.swiper-wrapper {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical>.swiper-wrapper {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto;
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-lock {
    display: none;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms opacity;
    -o-transition: 300ms opacity;
    transition: 300ms opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}


/* Common Styles */

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
}


/* Bullets */

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
    position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 6px 0;
    display: block;
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    -webkit-transition: 200ms top, 200ms -webkit-transform;
    transition: 200ms top, 200ms -webkit-transform;
    -o-transition: 200ms transform, 200ms top;
    transition: 200ms transform, 200ms top;
    transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: 200ms left, 200ms -webkit-transform;
    transition: 200ms left, 200ms -webkit-transform;
    -o-transition: 200ms transform, 200ms left;
    transition: 200ms transform, 200ms left;
    transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: 200ms right, 200ms -webkit-transform;
    transition: 200ms right, 200ms -webkit-transform;
    -o-transition: 200ms transform, 200ms right;
    transition: 200ms transform, 200ms right;
    transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}


/* Progress */

.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
}

.swiper-container-vertical>.swiper-pagination-progressbar,
.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #ffffff;
}

.swiper-pagination-progressbar.swiper-pagination-white {
    background: rgba(255, 255, 255, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
    background: #ffffff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000000;
}

.swiper-pagination-progressbar.swiper-pagination-black {
    background: rgba(0, 0, 0, 0.25);
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
    background: #000000;
}

.swiper-pagination-lock {
    display: none;
}


/* Scrollbar */

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 0;
    top: 0;
}

.swiper-scrollbar-cursor-drag {
    cursor: move;
}

.swiper-scrollbar-lock {
    display: none;
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.swiper-zoom-container>img,
.swiper-zoom-container>svg,
.swiper-zoom-container>canvas {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.swiper-slide-zoomed {
    cursor: move;
}


/* Preloader */

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* a11y */

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-cube {
    overflow: visible;
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
}

.swiper-container-cube .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next+.swiper-slide {
    pointer-events: auto;
    visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0;
}

.swiper-container-flip {
    overflow: visible;
}

.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-container-coverflow .swiper-wrapper {
    /* Windows 8 IE 10 fix */
    -ms-perspective: 1200px;
}