@import 'quemsomos.css';
@import 'busca.css';
@import 'modal.css';
@import 'carousel.css';
@import 'ajuda.css';
@import 'livro.css';
@import 'acervo-sebo.css';
@import 'sebos.css';
@import 'eventos.css';
@import 'desLivros.css';
@import 'perfil.css';
@import 'LoDescLivros.css';
body {
    padding: 0;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: sans-serif;
    margin: auto
}


/*Container pai de todos, centraliza tudo*/

div#container {
    width: 100%;
    height: 100%;
    max-width: 700px;
    margin: 1rem auto 0;
    box-sizing: border-box
}

img {
    width: 100%;
    object-fit: cover
}

a {
    text-decoration: none;
    color: #123
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.container {
    margin: 0 10px
}

.grid {
    display: grid;
    grid-gap: 10px
}

.grid.grid-1 {
    grid-template-columns: repeat(1, 1fr)
}

.grid.grid-2 {
    grid-template-columns: repeat(2, 1fr)
}

.grid.grid-3 {
    grid-template-columns: repeat(3, 1fr)
}

.grid.grid-4 {
    grid-template-columns: repeat(4, 1fr)
}

.grid.grid-5 {
    grid-template-columns: repeat(5, 1fr)
}

header img {
    max-width: 150px;
    object-fit: contain;
}


/*--------Menu Lateral-Logado-----------------*/

header #Logado img {
    max-width: 130px;
    object-fit: contain
}

.ulCenter2 {
    height: 100%;
    width: 100%;
    display: flex
}

header #Logado input {
    display: none;
}

header #Logado ul {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 90px;
    left: 0;
    padding: 0;
    background: linear-gradient(45deg, #548f96, #8adce6);
    z-index: 1;
    flex-flow: column;
    margin-top: 0
}

header #Logado .ulCenter2 {
    height: 100%;
    width: 100%;
    display: flex
}

header #Logado .ulCenter2 ul li a {
    width: 100%;
    height: inherit;
    padding-left: 20px;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    padding: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #fff
}

.master1 nav .menu ul li:last-child {
    border-bottom: 0
}

.master1 #menuH:checked~.ulCenter ul {
    display: flex
}


/*Nessa parte foi removido a media query para que o layou espandisse na tela*/

.master1 header {
    width: 100%;
    height: 80px;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    z-index: 9;
    border-bottom: 1px solid #111
}


/*.master1 header .perfil {

     width: 40px;
    height: 40px;
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 20px 
  }*/

.master1 header .perfil img {
    height: 100%
}


/*.master1 header .logo {

     width: 125px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 10px; 
  }*/

.master1 header .logo img {
    width: 100%
}

.master1 nav {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background: aliceblue
}

.master1 nav:after {
    content: '';
    width: 100%;
    height: 60px;
    background: inherit;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 8;
    border-top: 1px solid #111
}

.master1 nav .home {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    z-index: 9;
    top: 20px;
    left: 20px
}

.master1 nav .home img {
    height: 100%
}

.master1 nav .search {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 23px;
    margin-left: -20px
}

.master1 nav .search img {
    height: 100%
}

.master1 nav .menu {
    float: right;
    margin-top: 20px
}

.master1 nav .menu input {
    display: none
}

.master1 nav .menu label {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    right: 20px;
    z-index: 9
}

.master1 nav .menu label img {
    height: 100%
}

.master1 .ulCenter {
    height: 100%;
    width: 100%;
    display: flex
}

.master1 nav .menu ul {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 90px;
    left: 0;
    padding: 0;
    background: linear-gradient(45deg, #548f96, #8adce6);
    z-index: 1;
    flex-flow: column;
    margin-top: 0
}

.master1 nav .menu ul li a {
    width: 100%;
    height: inherit;
    padding-left: 20px;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    padding: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #fff
}

.master1 nav .menu ul li:last-child {
    border-bottom: 0
}

.master1 #menuH:checked~.ulCenter ul {
    display: flex
}


/*Menu mobile desaparece quando a resolução for maior que 780px*/

header,
.master1 nav {
    background: linear-gradient(45deg, #008a9b47, #06cc3e26);
    background-color: #fff;
    z-index: 9999
}

.navDesk ul {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    background: #111
}

.navDesk ul li {
    list-style: none;
    margin: 1rem
}

.navDesk ul a {
    color: #fff
}

header img {
    max-width: 130px
}

header .perfil {
    max-width: 40px;
    align-self: flex-end
}

header .menuGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box
}

.navDesk {
    display: none
}

@media (max-width: 780px) {
    header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99999
    }
    .headerStatic {
        position: static
    }
}

@media (min-width:780px) {
    .master1 nav:after,
    .menuMobile,
    .menuMobile img {
        display: none
    }
    .navDesk {
        display: block
    }
    section {
        padding: 0!important
    }
}

.master2 {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0 20px;
    line-height: 105px;
    position: static!important
}

.master2 .volta {
    width: 40px;
    height: 50px
}

.master2 .volta img {
    width: 100%
}

.master2 .logo {
    width: 125px;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 10px
}

.master2 .logo img {
    width: 100%
}

.master2Footer {
    width: 100%;
    background-color: #f1f1f1;
    padding: 1rem 0
}

.master2Footer p {
    text-align: center
}

section {
    width: 100%;
    position: relative;
    padding: 70px 0
}

section .banner {
    width: 100%;
    height: 184px
    /* Move slides overflowed container */
    /* Color of bullets */
    /* Color of bullets - END */
    /* Text of slides - END */
    /* Calculate AUTOPLAY for BULLETS */
    /* Calculate AUTOPLAY for BULLETS - END */
    /* Calculate AUTOPLAY for SLIDES */
    /* Calculate AUTOPLAY for SLIDES - END */
    /* Calculate AUTOPLAY for CAPTION */
}

section .banner img {
    width: 100%;
    height: 100%
}

section .banner .image {
    width: 100%;
    height: 200px
}

section .banner .radio {
    display: none
}

section .banner .images {
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%
}

section .banner .images-inner {
    width: 500%;
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1)
}

section .banner .image-slide {
    width: 20%;
    float: left
}

section .banner .image-slide,
section .banner .fake-radio,
section .banner .radio-btn {
    transition: all 0.5s ease-out
}

section .banner .fake-radio {
    text-align: center;
    margin: -20px 0 0 0
}

section .banner #slide1:checked~.images .images-inner {
    margin-left: 0
}

section .banner #slide2:checked~.images .images-inner {
    margin-left: -100%
}

section .banner #slide3:checked~.images .images-inner {
    margin-left: -200%
}

section .banner #slide1:checked~div .fake-radio .radio-btn:nth-child(1),
section .banner #slide2:checked~div .fake-radio .radio-btn:nth-child(2),
section .banner #slide3:checked~div .fake-radio .radio-btn:nth-child(3) {
    background: #000
}

section .banner .radio-btn {
    width: 20px;
    height: 10px;
    border-radius: 20px;
    background: gray;
    display: inline-block !important;
    margin: 0 1px;
    cursor: pointer;
    border: 2px solid #FFF
}

section .banner .label {
    opacity: 0;
    position: absolute
}

@keyframes bullet {
    0%,
    33.32333333333334% {
        background: #000
    }
    33.333333333333336%,
    100% {
        background: gray
    }
}

section .banner #play1:checked~div .fake-radio .radio-btn:nth-child(1) {
    animation: bullet 12300ms infinite -1000ms
}

section .banner #play1:checked~div .fake-radio .radio-btn:nth-child(2) {
    animation: bullet 12300ms infinite 3100ms
}

section .banner #play1:checked~div .fake-radio .radio-btn:nth-child(3) {
    animation: bullet 12300ms infinite 7200ms
}

@keyframes slide {
    0%,
    25.203252032520325% {
        margin-left: 0
    }
    33.333333333333336%,
    58.53658536585366% {
        margin-left: -100%
    }
    66.66666666666667%,
    91.869918699187% {
        margin-left: -200%
    }
}

section .banner .st-slider>#play1:checked~.images .images-inner {
    animation: slide 12300ms infinite
}

@keyframes caption {
    0%,
    33.32333333333334% {
        opacity: 1
    }
    33.333333333333336%,
    100% {
        opacity: 0
    }
}

section .banner #play1:checked~.labels .label:nth-child(1) {
    animation: caption 12300ms infinite -1000ms
}

section .banner #play1:checked~.labels .label:nth-child(2) {
    animation: caption 12300ms infinite 3100ms
}

section .banner #play1:checked~.labels .label:nth-child(3) {
    animation: caption 12300ms infinite 7200ms
}

section .maisProcurados h1 {
    font-size: 20px;
    color: #665;
    margin-top: 30px;
    margin-left: 15px
}

section .maisProcurados .books {
    width: 100%;
    height: 180px
}

section .maisProcurados .books img {
    width: 100%;
    max-width: 120px
}

section .eventos {
    width: 100%
}

section .eventos h2 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 10px 0
}

section .eventos figure {
    margin: 0
}

section .eventos figure img {
    width: 100%;
    height: 200px
}

section .eventos figure figcaption {
    font-size: 15px
}

section .eventos figure:last-child {
    margin-top: 20px
}

form select {
    padding: .4rem;
    margin-bottom: .6rem;
    width: 100%
}


/*===========================================Icone laterais*/

.Social-Bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100
}

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s
}

.icon-facebook {
    background: #2E406E
}

.icon-twitter {
    background: #339DC5
}

.icon-instagram {
    background: linear-gradient(45Deg, #405DE6, #5851DB, #833AB4, #C13584, #C13584, #E1306C, #FD1D1D)
}

.icon:first-child {
    border-radius: 1rem 0 0 0
}

.icon:last-child {
    border-radius: 0 0 0 1rem
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgb(255, 255, 255)
}