<!DOCTYPE html>
<html>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<script src="https://code.jquery.com/jquery-3.4.0.slim.min.js"></script>

<link rel="stylesheet" href="css/swiper.css">
<link rel="stylesheet" href="../css/Admin2.css">

<title>Sebook</title>
</head>

<body class="">
  <header>
    <div class="menuGroup">
      <a class="logo" href="index.html">
        <img src="../images/img/logoSebookCor.png" alt="SebooK">
      </a>
      <a class="perfil" href="login.html">
        <img src="../images/icons/Logado.png" alt="Perfil" title="Perfil">
      </a>
    </div>
    <nav class="navDesk">
      <ul>
        <li>
          <a href="#">RELATÓRIOS</a>
          <ul>
            <li>
              <a href="#">Cadastro de Leitores</a>
            </li>
            <li>
              <a href="#">Cadastro de Sebos</a>
            </li>
            <li>
              <a href="#">Geral de Acervos</a>
            </li>
            <li>
              <a href="#">Dúvidas</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="Tratamento.html">TRATAMENTO DE DÚVIDAS</a>
        </li>
        <li>
          <a href="Eventos&Comentarios.html">EVENTOS E COMENTÁRIOS</a>
        </li>
        <li>
          <a href="ControleUsuario.html">CONTROLE DE USUÁRIOS</a>
        </li>
      </ul>
    </nav>
  </header>

  <div id="container"> 
    <div class="tratamento">

      <H1>Duvidas</H1>

      <div class="itemComentario">
        <figure>
          <img src="../images/icons/Logado.png">
          <figcaption>
            <p>João Ricardo de Almeida (10/08/2019)</p>
          </figcaption>
        </figure>
        <h4>(Sebo)</h4>
        <section id="balao">
          <div class="balaoContainer">
            <h5>Problema</h5>
            <p>
              Não estou conseguindo inserir livros sem ISBN em meu acervo.
            </p>

          </div>
          <button class="btn">Responder</button>
        </section>
      </div>

      <div class="itemComentario">
        <figure>
          <img src="../images/icons/Logado.png">
          <figcaption>
            <p>Mariana Oliveira Lima (10/08/2019)</p>
          </figcaption>
        </figure>
        <h4>(leitor)</h4>

        <section id="balao">
          <div class="balaoContainer">
            <h5>Sugestão</h5>
            <p>
              Tenho dois Sebos para indicar em minha região.
            </p>

          </div>
          <button class="btn">Responder</button>
        </section>
      </div>

      <div class="itemComentario">
        <figure>
          <img src="../images/icons/Logado.png">
          <figcaption>
            <p>João Ricardo de Almeida (10/08/2019)</p>
          </figcaption>
        </figure>
        <h4>(Sebo)</h4>
        <section id="balao">
          <div class="balaoContainer">
            <h5>Duvida</h5>
            <p>
              Não estou conseguindo inserir livros sem ISBN em meu acervo.
            </p>

          </div>
          <button class="btn">Responder</button>
        </section>
      </div>

      </section>
    </div>
  </div>
  
  <script src="https://idangero.us/swiper/dist/js/swiper.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,
      spaceBetween: 10,
      loop: true,
      slidesPerGroup: 3,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>
</body>

</html>