div#container {
  max-width:10000px!important
}

.comentarios{
  padding:1rem;
  box-sizing:border-box
}

.containerTable table{
  border-collapse: collapse;
  width: 100%;
  max-width:1000px;
  margin:auto
}

.containerTable table th{
  min-width:100px
}

th, td{
  padding:.5rem;
  box-sizing:border-box;
  text-align:center
}